:root {
    --black-color: #121212;
    --grey-color: #6B6B6B;
    --yellow-color: #f4d04e;
    --white-color: #FFFFFF;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Figtree", sans-serif;
    color: var(--black-color);
    background-color: var(--yellow-color);
}

img {
    width: 100%;
    border-radius: 10px;
}

.container {
    max-width: 327px;
    border: 2px solid var(--black-color);
    border-radius: 20px;
    padding: 1.5em;
    box-shadow: 10px 10px 1px -1px var(--black-color);
    background-color: var(--white-color);
}

.blog-article-container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin: 1.5em 0;
}

.blog-article-link {
    text-decoration: none;
}

.blog-article-heading {
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--black-color);
}

.blog-article-link:hover h1,
.blog-article-link:focus h1     {
    color: var(--yellow-color);
}

.blog-article-tag {
    background-color: var(--yellow-color);
    padding: .25em .75em;
    border-radius: 4px;
    font-weight: 900;
    font-size: .75rem;
    order: -2;
    align-self: flex-start;
}

.blog-article-date {
    font-size: 0.75rem;
    order: -1;
}

.blog-article-summary {
    color: var(--grey-color);
    font-size: 0.875rem;
}

.blog-author-container {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.blog-author-avatar {
    width: 32px;
    height:32px;
    border-radius: 50%;
}

.blog-author-name {
    font-weight: 900;
}

footer {
    font-size: .625rem;
    text-align: center;
    margin-top: 2em;
}

footer a {
    color: hsl(228, 45%, 44%);
}
